.mainDiv {
    max-width: 250px;
    border-color: black;
    border-width: 0 0.5px 0 0;
    border-style: solid;
    background-color: rgba(32, 30, 30, 0.2);
    color: white;
    height: calc(100vh - 60px);
}